<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
</div>
<div class="row" *ngIf="colors.length>0">
  <ul *ngIf="dataLoaded==true" class="list-group list-group-flush m-4">
    <h5 style="font-weight: 900; color:darkcyan">Colors</h5>
    <li class="list-group-item" routerLink="/Colors/Cars/{{color.id}}" *ngFor="let color of colors">{{color.name}}</li>
  </ul>
</div>
<div class="row" *ngIf="cars.length>0">
  <a href="#" routerLink="/Colors">Back to colors</a><br/><br/>
  <h5 style="font-weight: 900; color:rgb(17, 12, 43)">Color Name: {{cars[0].colorName}}</h5>
  <table *ngIf="dataLoaded==true" class="table m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">brandName</th>
        <th scope="col">modelYear</th>
        <th scope="col">dailyPrice</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <th scope="row">{{car.id}}</th>
        <td>{{car.brandName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
