<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
</div>
<div class="row" *ngIf="brands.length>0">
  <ul *ngIf="dataLoaded==true" class="list-group list-group-flush m-4">
    <h5 style="font-weight: 900; color:darkcyan">Brands</h5>
    <li class="list-group-item" routerLink="/Brands/Cars/{{brand.id}}" *ngFor="let brand of brands">{{brand.name}} -
      {{brand.model}}</li>
  </ul>
</div>
<div class="row" *ngIf="cars.length>0">
  <a href="#" routerLink="/Brands">Back to brands</a><br/><br/>
  <h5 style="font-weight: 900; color:rgb(17, 12, 43)">Brand Name: {{cars[0].brandName}}</h5>
  <table *ngIf="dataLoaded==true" class="table m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">colorName</th>
        <th scope="col">modelYear</th>
        <th scope="col">dailyPrice</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <th scope="row">{{car.id}}</th>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
