<ul class="list-group">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item" routerLink="">Main Page</li>
  <li routerLinkActive="active" class="list-group-item" routerLink="/Brands">Brands</li>
  <li routerLinkActive="active" class="list-group-item" routerLink="/Colors">Colors</li>
  <li routerLinkActive="active" class="list-group-item" routerLink="/Cars">Cars</li>
  <li routerLinkActive="active" class="list-group-item" routerLink="/Rentals">Rentals</li>
  <li routerLinkActive="active" class="list-group-item" routerLink="/Customers">Customers</li>
</ul>
